body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}
.heading{
    color: rgba(217, 210, 11, 0.689);
}
#ques{
    font-style: italic;
}
button{
    width: 150px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(217, 169, 11, 0.689);
    color: rgb(248, 250, 251);
    border: none;
    font-weight: bold;
    border-radius: 2px;
}
/* .opt1{
    color: aliceblue;
    text-align: center;
}
#message-el{

} */